docs/n8n-workflow-example.json
{
  "name": "Auto Pilot SEO - Article Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-generation",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "auto-pilot-seo-article",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "N8N API Key Auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 解析從平台接收的資料\nconst input = items[0].json;\n\nreturn [\n  {\n    json: {\n      articleId: input.articleId,\n      websiteId: input.websiteId,\n      companyId: input.companyId,\n      keyword: input.inputContent.keyword || '',\n      url: input.inputContent.url || '',\n      inputType: input.inputType,\n      \n      // 網站配置\n      siteUrl: input.websiteConfig.siteUrl,\n      siteName: input.websiteConfig.siteName,\n      wpUsername: input.websiteConfig.wpUsername,\n      wpAppPassword: input.websiteConfig.wpAppPassword,\n      \n      // 品牌聲音\n      brandVoice: input.brandVoice,\n      \n      // Workflow 設定\n      serpAnalysisEnabled: input.workflowSettings.serp_analysis_enabled,\n      competitorCount: input.workflowSettings.competitor_count,\n      qualityThreshold: input.workflowSettings.quality_threshold,\n      autoPublish: input.workflowSettings.auto_publish,\n      \n      // Callback URL\n      callbackUrl: input.callbackUrl\n    }\n  }\n];"
      },
      "name": "Parse Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Parse Input\"].json.serpAnalysisEnabled}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check SERP Analysis Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "sonar",
        "prompt": "=請分析以下關鍵字在搜尋引擎的表現：\"{{$node[\"Parse Input\"].json.keyword}}\"\n\n請提供：\n1. 目前排名前10的文章主題\n2. 常見的內容角度和方向\n3. 搜尋意圖分析（資訊型/商業型/交易型）\n4. 建議的內容策略\n\n請以 JSON 格式回應。",
        "options": {}
      },
      "name": "SERP 數據分析 (Perplexity)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200],
      "credentials": {
        "perplexityApi": {
          "id": "2",
          "name": "Perplexity API"
        }
      },
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"articleId\": \"{{$node[\"Parse Input\"].json.articleId}}\",\n  \"stage\": \"serp_analysis\",\n  \"status\": \"completed\",\n  \"data\": {{$json}}\n}",
        "options": {}
      },
      "name": "Callback - SERP Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一位專業的 SEO 內容策劃師。根據 SERP 分析結果，制定詳細的內容大綱。\\n\\n品牌聲音：\\n語調：{{$node[\\\"Parse Input\\\"].json.brandVoice.tone_of_voice}}\\n目標受眾：{{$node[\\\"Parse Input\\\"].json.brandVoice.target_audience}}\\n關鍵字：{{$node[\\\"Parse Input\\\"].json.brandVoice.keywords.join(', ')}}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"關鍵字：{{$node[\\\"Parse Input\\\"].json.keyword}}\\n\\nSERP 分析結果：\\n{{$node[\\\"SERP 數據分析 (Perplexity)\\\"].json}}\\n\\n請制定一個詳細的內容大綱，包括：\\n1. 3個標題選項\\n2. 文章結構（引言、主要章節、結論）\\n3. 每個章節的要點\\n4. 目標字數\\n5. 關鍵字密度目標\\n6. 相關關鍵字建議\\n\\n請以 JSON 格式回應。\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "name": "Preliminary Plan (內容策略)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"articleId\": \"{{$node[\"Parse Input\"].json.articleId}}\",\n  \"stage\": \"content_plan\",\n  \"status\": \"completed\",\n  \"data\": {{$json.choices[0].message.content}}\n}",
        "options": {}
      },
      "name": "Callback - Content Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl.replace('/callback', '/articles/previous')}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "websiteId",
              "value": "={{$node[\"Parse Input\"].json.websiteId}}"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "keyword",
              "value": "={{$node[\"Parse Input\"].json.keyword}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Previous Posts (內部連結用)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=你是一位專業的 SEO 內容撰寫師。根據內容大綱撰寫完整文章。\n\n品牌聲音設定：\n- 語調：{{$node[\"Parse Input\"].json.brandVoice.tone_of_voice}}\n- 目標受眾：{{$node[\"Parse Input\"].json.brandVoice.target_audience}}\n- 必須使用的詞彙：{{$node[\"Parse Input\"].json.brandVoice.keywords.join(', ')}}\n\n重要：保持品牌一致性，使用自然流暢的語言。"
            },
            {
              "role": "user",
              "content": "=內容大綱：\n{{JSON.stringify($node[\"Preliminary Plan (內容策略)\"].json.choices[0].message.content, null, 2)}}\n\n舊文章（供參考內部連結）：\n{{JSON.stringify($node[\"Get Previous Posts (內部連結用)\"].json.articles, null, 2)}}\n\n請撰寫完整文章（Markdown 格式），包括：\n1. 引人入勝的引言\n2. 詳細的主要內容（每個章節 3-5 段）\n3. 自然地加入 3-5 個內部連結\n4. 實用的結論\n5. FAQ 區塊\n\n目標字數：2000-2500 字\n關鍵字密度：1.5-2.5%"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "name": "Write Blog (主要撰寫)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1850, 300],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 將 Markdown 轉換為 HTML\nconst marked = require('marked');\nconst content = items[0].json.choices[0].message.content;\n\n// 設定 marked 選項\nmarked.setOptions({\n  gfm: true,\n  breaks: true,\n  headerIds: true,\n  mangle: false\n});\n\nconst html = marked.parse(content);\n\nreturn [{\n  json: {\n    markdown: content,\n    html: html\n  }\n}];"
      },
      "name": "Convert to HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"articleId\": \"{{$node[\"Parse Input\"].json.articleId}}\",\n  \"stage\": \"content_generation\",\n  \"status\": \"completed\",\n  \"data\": {\n    \"content\": \"{{$node[\"Convert to HTML\"].json.html}}\",\n    \"markdown\": \"{{$node[\"Convert to HTML\"].json.markdown}}\"\n  }\n}",
        "options": {}
      },
      "name": "Callback - Content Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=為以下文章生成 SEO 友善的 URL slug（小寫、連字符分隔、不超過 60 字元）：\n\n標題：{{JSON.parse($node[\"Preliminary Plan (內容策略)\"].json.choices[0].message.content).title_suggestions[0]}}\n關鍵字：{{$node[\"Parse Input\"].json.keyword}}\n\n只回傳 slug，不要其他文字。"
            }
          ]
        }
      },
      "name": "Generate Slug",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2450, 200],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=為以下文章生成吸引人的 SEO 標題（50-60 字元，包含關鍵字）：\n\n內容大綱：{{JSON.stringify(JSON.parse($node[\"Preliminary Plan (內容策略)\"].json.choices[0].message.content).title_suggestions)}}\n關鍵字：{{$node[\"Parse Input\"].json.keyword}}\n\n只回傳標題，不要其他文字。"
            }
          ]
        }
      },
      "name": "Generate Title",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2450, 300],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=為以下文章生成簡潔的 meta description（120-160 字元，包含關鍵字）：\n\n文章內容：{{$node[\"Convert to HTML\"].json.markdown.substring(0, 500)}}\n關鍵字：{{$node[\"Parse Input\"].json.keyword}}\n\n只回傳 meta description，不要其他文字。"
            }
          ]
        }
      },
      "name": "Generate Meta Description",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2450, 400],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 文章品質檢查\nconst content = items[0].json.markdown || '';\nconst keyword = $node[\"Parse Input\"].json.keyword;\nconst html = items[0].json.html || '';\n\n// 1. 計算字數\nconst wordCount = content.split(/\\s+/).length;\nconst wordCountPass = wordCount >= 1500 && wordCount <= 2500;\n\n// 2. 計算關鍵字密度\nconst keywordRegex = new RegExp(keyword, 'gi');\nconst keywordMatches = content.match(keywordRegex) || [];\nconst keywordDensity = (keywordMatches.length / wordCount) * 100;\nconst keywordDensityPass = keywordDensity >= 1.5 && keywordDensity <= 2.5;\n\n// 3. 檢查結構\nconst h1Count = (html.match(/<h1>/g) || []).length;\nconst h2Count = (html.match(/<h2>/g) || []).length;\nconst h3Count = (html.match(/<h3>/g) || []).length;\nconst structurePass = h1Count === 1 && h2Count >= 3 && h3Count >= 5;\n\n// 4. 檢查內部連結\nconst internalLinksCount = (html.match(/<a href=\"\\//g) || []).length;\nconst internalLinksPass = internalLinksCount >= 3;\n\n// 5. 計算總分\nconst checks = [\n  { name: 'word_count', pass: wordCountPass, weight: 25 },\n  { name: 'keyword_density', pass: keywordDensityPass, weight: 30 },\n  { name: 'structure', pass: structurePass, weight: 25 },\n  { name: 'internal_links', pass: internalLinksPass, weight: 20 }\n];\n\nconst totalScore = checks.reduce((sum, check) => {\n  return sum + (check.pass ? check.weight : 0);\n}, 0);\n\nconst passed = totalScore >= $node[\"Parse Input\"].json.qualityThreshold;\n\nconst report = {\n  score: totalScore,\n  passed: passed,\n  checks: {\n    word_count: { pass: wordCountPass, value: wordCount, expected: '1500-2500' },\n    keyword_density: { pass: keywordDensityPass, value: keywordDensity.toFixed(2) + '%', expected: '1.5-2.5%' },\n    structure: { pass: structurePass, h1: h1Count, h2: h2Count, h3: h3Count },\n    internal_links: { pass: internalLinksPass, count: internalLinksCount, expected: '≥3' }\n  },\n  failed_checks: checks.filter(c => !c.pass).map(c => c.name)\n};\n\nreturn [{ json: report }];"
      },
      "name": "文章品質檢查",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"articleId\": \"{{$node[\"Parse Input\"].json.articleId}}\",\n  \"stage\": \"quality_check\",\n  \"status\": \"completed\",\n  \"data\": {{$json}}\n}",
        "options": {}
      },
      "name": "Callback - Quality Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"文章品質檢查\"].json.passed}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Quality Pass",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3050, 300]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "title": "={{$node[\"Generate Title\"].json.choices[0].message.content}}",
        "content": "={{$node[\"Convert to HTML\"].json.html}}",
        "additionalFields": {
          "slug": "={{$node[\"Generate Slug\"].json.choices[0].message.content}}",
          "excerpt": "={{$node[\"Generate Meta Description\"].json.choices[0].message.content}}",
          "status": "={{$node[\"Parse Input\"].json.autoPublish ? 'publish' : 'draft'}}"
        }
      },
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [3250, 200],
      "credentials": {
        "wordpressApi": {
          "id": "4",
          "name": "WordPress API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"articleId\": \"{{$node[\"Parse Input\"].json.articleId}}\",\n  \"stage\": \"wordpress_publish\",\n  \"status\": \"completed\",\n  \"data\": {\n    \"wp_post_id\": {{$json.id}},\n    \"url\": \"{{$json.link}}\",\n    \"status\": \"{{$json.status}}\"\n  }\n}",
        "options": {}
      },
      "name": "Callback - WordPress Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"articleId\": \"{{$node[\"Parse Input\"].json.articleId}}\",\n  \"stage\": \"wordpress_publish\",\n  \"status\": \"failed\",\n  \"error\": \"文章品質檢查未通過（分數：{{$node[\"文章品質檢查\"].json.score}}）\"\n}",
        "options": {}
      },
      "name": "Callback - Quality Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Input\"].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"articleId\": \"{{$node[\"Parse Input\"].json.articleId}}\",\n  \"stage\": \"{{$json.node}}\",\n  \"status\": \"failed\",\n  \"error\": \"{{$json.error.message}}\"\n}",
        "options": {}
      },
      "name": "Error Handler - Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2050, 500],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Check SERP Analysis Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SERP Analysis Enabled": {
      "main": [
        [
          {
            "node": "SERP 數據分析 (Perplexity)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preliminary Plan (內容策略)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERP 數據分析 (Perplexity)": {
      "main": [
        [
          {
            "node": "Callback - SERP Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback - SERP Analysis": {
      "main": [
        [
          {
            "node": "Preliminary Plan (內容策略)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preliminary Plan (內容策略)": {
      "main": [
        [
          {
            "node": "Callback - Content Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback - Content Plan": {
      "main": [
        [
          {
            "node": "Get Previous Posts (內部連結用)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Posts (內部連結用)": {
      "main": [
        [
          {
            "node": "Write Blog (主要撰寫)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Blog (主要撰寫)": {
      "main": [
        [
          {
            "node": "Convert to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML": {
      "main": [
        [
          {
            "node": "Callback - Content Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Slug",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Meta Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback - Content Generation": {
      "main": [
        [
          {
            "node": "文章品質檢查",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slug": {
      "main": [
        [
          {
            "node": "文章品質檢查",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Title": {
      "main": [
        [
          {
            "node": "文章品質檢查",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Meta Description": {
      "main": [
        [
          {
            "node": "文章品質檢查",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文章品質檢查": {
      "main": [
        [
          {
            "node": "Callback - Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback - Quality Check": {
      "main": [
        [
          {
            "node": "Check Quality Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quality Pass": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback - Quality Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Callback - WordPress Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-23T00:00:00.000Z",
  "versionId": "1"
}
